<div ng-app="app">

    <div id=mainPageMain>
        <md-content md-colors="{'background': 'default-primary-hue-1'}">
            <div>
                <div layout="row">
                    <div flex>
                        <div class="mainPageEventData" layout="column">
                            <ul ng-repeat="event in fetchedEvents">
                           <span>
                            <li>
                                <p>{{event.summary}}</p>
                                <p>Name: {{event.creator.displayName}}</p>
                                <p>Start: {{event.start.startIso}}</p>
                                <p>End: {{event.end.endIso}}</p>
                            </li>
                           </span>
                            </ul>
                        </div>
                            <div>
                                <span>
                                    <md-button class="md-primary md-raised" id="authorize-button"  ng-click="handleAuthClick()">Authorize</md-button>
                                    <md-button class="md-primary md-raised" id="signout-button"  ng-click="handleSignoutClick()">Sign Out</md-button>
                                </span>
                            </div>
                    </div>
                </div>
            </div>
        </md-content>
    </div>

</div>