.mainPageHeader {

    color: white !important;
    font-size: 30px !important;
    text-align: center !important

}
.mainpagemain {
    background-color: #4caf50
}
.mainpagefooter {
    text-align: center !important;
}
.indexUiClock {
    padding-top: 10px;
    margin-left:1%;
}
.indexDate {
    font-size: 12px;
    margin-left: 1%;
}
.indexHeaderButtons {
    text-align: end !important;
}

.listdemoBasicUsage md-divider {
    margin-top: 10px;
    margin-bottom: 0;
}
.mainPageEventContent {
    margin: 10px;
}

#mainPageEvent {
    border-top: solid;
    border-color: #a5d6a7;
}

