.indexUiClock {
    padding-top: 10px;
    margin-left:1%;
}
.indexDate {
    font-size: 12px;
    margin-left: 1%;
}
.indexHeaderButtons {
    text-align: end !important;
}

#vertical-container {
    height: 400px;
    width: 100%;
    max-width: 300px !important;
}

.mainPageHeader {
    color: white !important;
    font-size: 30px !important;
    text-align: center !important
}
.mainpagemain {
    background-color: #4caf50
}
.mainpagefooter {
    text-align: center !important;
}

.listdemoBasicUsage md-divider {
    margin-top: 10px;
    margin-bottom: 0;
}
.mainPageEventContent {
    margin: 10px 10px 10px 10px;
    max-width: 80%;
}

#mainPageEvent {
    border-top: solid;
    border-color: #a5d6a7;
}
.mainPageCurrentEvent {
    margin: 10px 10px 10px 10px;
    max-width: 70% !important;
}
.main{
    margin: auto;
    border: 2px solid;
}

body {
    background-color: grey;
}

#mainPageCurrentEvent {
    padding: 15%;
    text-align: center;
}


md-dialog.md-default-theme, md-dialog {
    background-color: rgb(102, 187, 106) !important;
}

md-dialog.md-default-theme, md-dialog {
    color: white;
}

.md-block {
    max-width: 200px;
    margin: 10px;
    padding: 10px;
}

.mainPageNewEvent {
    border-radius: 5px;
    position: absolute;
    border-style: solid;
    border-color: white;
}

.md-block label {
    opacity: 0.5;
}